//colors
$black: #000000;
$blue:#085AA9;
$blackrelleno:#1B1B1B;
$colorprincipal:#A191B2;
$gray:#313131;
$rojoclaro:#D8624C;
$white: #FFF;
$plomoclaro:#EEEEEE;
$grayclaro:#D0D0D0;


//fonts
$bold:700;
$medium:500;
$main-font: 'Raleway', sans-serif;
$light:300;
$semibold:600;
$second-font: 'Cormorant Infant', serif;