@charset "UTF-8";
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:family=Cormorant+Infant:wght@100;300;400;500;600;700;900&family=Ralewa&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");
.TopBar {
  background: #000000;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.TopBarFooter {
  display: flex;
  justify-content: space-between;
  padding: 0% 7%;
}

.TopBarFooter-span {
  font-weight: 700;
}

.MainBlog {
  text-align: center;
  padding-top: 10%;
}

.btn-see-more {
  background: #A191B2;
  border: 0px;
  border-radius: 30px;
  height: 50px;
  margin: 5% 0%;
  width: 20%;
}
.btn-see-more:hover {
  background: #A191B2;
}
.btn-see-more:focus {
  background-color: #A191B2;
  box-shadow: none;
}
.btn-see-more:active {
  background-color: #A191B2 !important;
  box-shadow: none !important;
}

.btn-wedding {
  display: block !important;
}

.MainStoreOnline-btn-buy-now {
  background: #000000;
  border: 0px;
  border-radius: 20px;
  height: 65px;
  margin-top: 106px;
  width: 285px;
}
.MainStoreOnline-btn-buy-now:hover {
  background: #000000;
}

.Blog {
  margin-top: 10%;
  margin-bottom: 5%;
}

.Blog-card-text {
  text-align: start !important;
}

.Blog-btn-card-img {
  background: transparent;
  border-color: #FFF;
  border-radius: 33px;
  display: none;
  height: 55px;
  left: 25%;
  position: absolute;
  right: 25%;
  top: 30%;
  width: 50%;
  z-index: 99;
}
.Blog-btn-card-img:focus {
  background: transparent;
  box-shadow: none !important;
}
.Blog-btn-card-img:active {
  background: transparent !important;
  box-shadow: none !important;
}
.Blog-btn-card-img:hover {
  background: transparent;
  border-color: #FFF !important;
}

.blue {
  background: #085AA9 !important;
}

.Blog-col {
  padding-right: 0px;
  padding-left: 10px;
}

.Blog-col:hover {
  padding-right: 0px;
  padding-left: 10px;
}
.Blog-col:hover .Blog-btn-card-img {
  display: block;
}

.Blog-container-text-card-blog {
  color: #A191B2;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.card-body-wedding {
  text-align: center;
}

.col-card-wedding {
  padding: 8% 0%;
}

.ColsGroupServices {
  margin-top: 15%;
}

.ColsGroupServices-col {
  padding: 5px;
  text-align: center;
}

.ColsGroupServices-card-title {
  color: #A191B2;
  font-family: "Cormorant Infant", serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.ColsGroupServices-card-text {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.ColsGroupServicios-card-text-wedding {
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.ColsGroupServices-btn-hire {
  display: none;
  border-radius: 33px;
  height: 45px;
  margin: 0% 25%;
  width: 50%;
  background: #A191B2;
  border: 0px;
}
.ColsGroupServices-btn-hire:hover {
  background: #A191B2;
}
.ColsGroupServices-btn-hire:focus {
  background-color: #A191B2;
  box-shadow: none;
}
.ColsGroupServices-btn-hire:active {
  background-color: #A191B2 !important;
  box-shadow: none !important;
}

.col-card-grande {
  width: 100%;
}

.ColsServices {
  margin-top: 20%;
}

.ColsServices-card {
  background-color: transparent;
  border: none;
  justify-content: center;
  text-align: center;
}

.ColsServices-card-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.ColsServices-card-text {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.col-wedding {
  padding: 0px;
}

.ColsServices-card-img-belleza {
  height: 92px;
  margin-left: 40%;
  width: 94px;
}

.ColsServices-card-img-disponibilidad {
  height: 98px;
  margin-left: 40%;
  width: 83px;
}

.ColsServices-card-img-profesionales {
  height: 98px;
  margin-left: 40%;
  width: 70px;
}

.MainServicescontainer-text {
  padding-top: 10%;
  text-align: center;
  margin: 0% 22.5%;
  width: 55%;
}

.dismunicion-tamaño {
  max-height: 281.53px;
}

.FeaturedProductos-card {
  background-color: #EEEEEE;
  border: 0px;
  border-radius: 0px;
}

.FeaturedProductos-card-body {
  background-color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.FeaturedProductos {
  padding: 0px 5%;
}

.FeaturedProductos-col {
  padding-left: 0px;
  padding-right: 0px;
  padding: 0px 10px;
}

.first-product {
  margin-bottom: 15%;
}

.Footer-btn-form {
  background: #A191B2;
  border: 0px;
  border-radius: 0px;
  margin-left: -5px;
  margin-top: -1px;
  height: 43px;
  width: 53px;
}
.Footer-btn-form:hover {
  background: #A191B2;
}
.Footer-btn-form:focus {
  background-color: #A191B2;
  box-shadow: none;
}
.Footer-btn-form:active {
  background-color: #A191B2 !important;
  box-shadow: none !important;
}

input[type=time]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
}

.img-card-bodas {
  border-radius: 0px;
}

.img-col-app-footer {
  margin-bottom: 5px;
}

.img-payments-methods {
  margin: 0% 20%;
}

.input-form-footer {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  margin-left: 15px;
  height: 42px;
  width: 287px;
}

.card-img-separation {
  padding-top: 9%;
}

.list-navbar-secundary {
  vertical-align: middle;
}

.link-col-footer {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 30px;
}

.links-payment-methods {
  background: #FFF;
  border-radius: 4px;
  height: 37px;
  line-height: 37px;
  margin-right: 5px;
  width: 60px;
}

.line {
  border-bottom: 1px solid #A191B2;
  height: 50px;
  margin: 0% 7.5%;
  margin-bottom: 5%;
  width: 85%;
}

.MainHeader {
  background-image: url(/assets/img/fondo-header.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 958px;
}

.MainStoreOnline {
  background-image: url(/assets/img/fondo-tienda.png);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.MainFeaturedProducts {
  padding-top: 10%;
  text-align: center;
  border-bottom: 2px solid #D0D0D0;
}

.MainServices {
  background-color: #EEEEEE;
  padding-bottom: 1px;
}

.mb-3, .my-3 {
  margin: 0px 5px;
  margin-bottom: 0.5rem !important;
}

.Navbar {
  background-color: #313131;
  padding: 0px;
}
.Navbar-item .purple-btn {
  width: 182px;
  border-radius: 0px;
  height: 75px;
  margin-right: 30px;
  background: #A191B2;
  border: 0px;
}
.Navbar-item .purple-btn:hover {
  background: #A191B2;
}
.Navbar-item .purple-btn:focus {
  background-color: #A191B2;
  box-shadow: none;
}
.Navbar-item .purple-btn:active {
  background-color: #A191B2 !important;
  box-shadow: none !important;
}

.Navbar-btn-menu {
  background-color: #FFF;
}

.Nabvar-badge {
  background-color: #D8624C;
  color: #FFF;
  border-radius: 50%;
  position: relative;
  right: 10px;
  top: -5px;
}

.Hero-container-text-subtitle-header {
  margin-left: 13%;
  margin-bottom: 190px;
  width: 50%;
}

.Navbar-collapse {
  justify-content: space-between;
}

.Nabvar-dropdown {
  background: #313131;
  height: 176px;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  width: 210px;
}

.Navbar-dropdown-item {
  align-items: center;
  display: flex;
  color: #FFF;
  height: 44px;
  justify-content: center;
  padding: 0px;
}
.Navbar-dropdown-item:hover {
  background-color: #1B1B1B;
  color: #FFF;
}

.Navbar-logo {
  height: 35px;
  width: 155px;
  margin-left: 2rem;
  margin-right: 4rem;
}

.Navbar-list {
  margin-right: 10%;
}

.Hero-text-title-header {
  color: #FFF;
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 3.75rem;
}

.Hero-container-text-title-header {
  margin-top: 223px;
  margin-left: 13%;
  width: 30%;
}

.Hero-text-subtitle-header {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.Navbar-select {
  background: transparent;
  border: 0px;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  width: 50px;
}

.Navbar-option {
  color: #FFF;
  background-color: #313131;
}
.Navbar-option:hover {
  background-color: #1B1B1B !important;
}

.navbar-light .navbar-nav .Navbar-link {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  margin-right: 25px;
}
.navbar-light .navbar-nav .Navbar-link:hover {
  background-color: #313131;
  color: #FFF;
}
.navbar-light .navbar-nav .Navbar-link:focus {
  color: #FFF;
}
.navbar-light .navbar-nav .Navbar-link:active {
  color: #FFF !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

.option-navbar {
  background: #313131;
  color: #FFF;
}

.Reservation {
  background: #FFF;
  display: flex;
  height: 150px;
  margin: 0% 10%;
  position: absolute;
  text-align: center;
  line-height: 150px;
  top: 883px;
  width: 80%;
}

.Reservation-calendar {
  border: 0px;
  height: 30px;
  overflow: hidden;
  width: 120px;
}

.Reserva-hour {
  border: 0px;
  height: 30px;
  overflow: hidden;
  width: 60px;
}

.Reservation-options {
  width: 25%;
  border-right: 1px solid #D0D0D0;
  height: 150px;
}

.Reservation-select {
  border: 0px;
  color: #A191B2;
  width: 15px;
}

.Reservation .Reservation-options .Reservation-select .Reservation-select-option {
  background-color: #313131;
  color: #FFF;
  height: 154px;
  width: 297px !important;
}
.Reservation .Reservation-options .Reservation-select .Reservation-select-option:hover {
  background-color: #A191B2 !important;
}

.Reservation-btn-reserve {
  border-radius: 0px;
  width: 247px;
  background: #A191B2;
  border: 0px;
}
.Reservation-btn-reserve:hover {
  background: #A191B2;
}
.Reservation-btn-reserve:focus {
  background-color: #A191B2;
  box-shadow: none;
}
.Reservation-btn-reserve:active {
  background-color: #A191B2 !important;
  box-shadow: none !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.row-footer {
  flex-direction: row !important;
}

.second-producto {
  margin-bottom: 24%;
}

.MainStoreOnline-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.MainStoreOnline-container {
  padding-top: 337px;
  text-align: center;
}

.text-label-footer {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.MainServices-text-title, .MainFeaturedProducts-text-title {
  color: #A191B2;
  font-family: "Cormorant Infant", serif;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 10%;
}

.MainBlog-text-title {
  color: #A191B2;
  font-family: "Cormorant Infant", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

.MainServices-text-subtitle-services {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.text-label-form-footer {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin-right: 15px;
}

.MainStoreOnline-title {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 53px;
}

@media screen and (min-width: 280px) {
  .container-main-footer {
    display: flex;
  }

  .container-follow-us-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container-second-footer {
    display: flex;
    flex-direction: row;
  }

  .container-payment-methods {
    display: flex;
  }

  .Footer-container-col {
    display: flex;
    flex-direction: column;
  }

  .Footer {
    background: #313131;
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
  }

  .Hero-text-title-header {
    font-size: 1.375rem;
  }

  .Hero-text-subtitle-header {
    font-size: 1.125rem;
  }

  .Hero-container-text-title-header {
    width: 50%;
  }

  .MainStoreOnline-btn-buy-now {
    background: #313131;
    border: 0px;
    border-radius: 30px;
    height: 65px;
    margin-top: 106px;
    width: 50%;
  }
  .MainStoreOnline-btn-buy-now:hover {
    background: #313131;
  }

  .container-main-footer {
    flex-direction: column;
  }

  .container-second-footer {
    flex-direction: column;
  }

  .ColsGroupServices-card-title {
    font-size: 0.875rem;
  }

  .ColsGroupServices-card-text {
    font-size: 0.5rem;
  }

  .ColsGroupServices-btn-hire {
    height: 35px;
    width: 40%;
    margin: 0% 30%;
  }

  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -75px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-contratar {
    display: block;
  }

  .container-follow-us-footer {
    width: 40%;
  }

  .Footer {
    background: #313131;
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
  }

  .text-title-header {
    font-size: 2.25rem;
  }

  .Reservation {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  .ColsGroupServices-card-text {
    font-size: 0.625rem;
  }

  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -81px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-hire {
    display: block;
  }

  .Navbar-text-titulo {
    font-size: 0.875rem;
  }

  .Navbar-text-subtitulo {
    font-size: 0.375rem;
  }
}
@media screen and (min-width: 360px) {
  .ColsGroupServices-card-text {
    font-size: 0.75rem;
  }

  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -105px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-hire {
    display: block;
  }

  .Navbar-text-titulo {
    font-size: 1rem;
  }

  .Navbar-text-subtitulo {
    font-size: 0.375rem;
  }
}
@media screen and (min-width: 375px) {
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -87px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-hire {
    display: block;
  }
}
@media screen and (min-width: 411px) {
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -87px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-hire {
    display: block;
  }

  .Navbar-text-titulo {
    font-size: 1.125rem;
  }

  .Navbar-text-subtitulo {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 500px) {
  .Navbar-text-titulo {
    font-size: 1.375rem;
  }

  .Navbar-text-subtitulo {
    font-size: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .MainStoreOnline-bnt-buy-now {
    border-radius: 30px;
    height: 65px;
    margin-top: 106px;
    width: 30%;
  }

  .Navbar-text-titulo {
    font-size: 2rem;
  }

  .Navbar-text-subtitulo {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .MainStoreOnline-btn-buy-now {
    height: 60px;
    width: 20%;
  }

  .container-main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .container-follow-us-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container-second-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0% 5%;
  }

  .container-payment-methods {
    display: flex;
  }

  .Footer-container-col {
    display: flex;
    flex-direction: column;
  }

  .Footer {
    background: #313131;
    display: flex;
    flex-direction: column;
    padding: 5% 0%;
  }

  .Hero-container-text-title-header {
    width: 40%;
  }

  .Hero-text-title-header {
    font-size: 3.75rem;
  }

  .Hero-text-subtitle-header {
    font-size: 1.5rem;
  }

  .Reservation {
    display: flex;
  }
}
@media screen and (min-width: 1093px) {
  .Hero-container-text-title-header {
    width: 38%;
  }
}
@media screen and (max-width: 1199px) {
  .Reserva {
    display: none;
  }

  .Navbar-collapse {
    background-color: #313131;
    padding: 15px 0px;
  }

  .Navbar-link {
    font-size: 0.5rem;
  }

  .Navbar-list {
    margin-right: 5%;
  }

  .Navbar {
    height: 50px;
  }

  .navbar-nav {
    padding-left: 70px;
  }

  .Navbar .purple-btn {
    height: 50px;
    width: 80px;
  }

  .Navbar-select {
    margin-top: 10px;
  }

  .Navbar-icons {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .MainStoreOnline-btn-buy-now {
    border-radius: 33px;
    height: 65px;
    margin-top: 106px;
    width: 20%;
  }

  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-body {
    background-color: #FFF;
    margin-top: -87px;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-card-text {
    display: block;
  }
  .ColsGroupServices .ColsGroupServices-card:hover .ColsGroupServices-btn-hire {
    display: block;
  }

  .Navbar {
    height: 75px;
  }

  .Navbar .purple-btn {
    height: 75px;
    width: 100px;
  }

  .Navbar-list {
    margin-right: 5%;
  }

  .Navbar-text-titulo {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1235px) {
  .Navbar-list {
    margin-right: 7%;
  }
}
@media screen and (min-width: 1250px) {
  .Navbar-list {
    margin-right: 9%;
  }
}
@media screen and (min-width: 1270px) {
  .Navbar-list {
    margin-right: 11%;
  }
}
@media screen and (min-width: 1290px) {
  .Navbar-list {
    margin-right: 13%;
  }
}
@media screen and (min-width: 1341px) {
  .Navbar-list {
    margin-right: 9%;
  }

  .Navbar .purple-btn {
    height: 75px;
    width: 182px;
  }
}
@media screen and (min-width: 1355px) {
  .Navbar-list {
    margin-right: 10%;
  }
}
@media screen and (min-width: 1370px) {
  .Navbar-list {
    margin-right: 11%;
  }
}
@media screen and (min-width: 1385px) {
  .Navbar-list {
    margin-right: 13%;
  }
}
@media screen and (min-width: 1405px) {
  .Navbar-list {
    margin-right: 15%;
  }
}